<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          	<li>
			  <a href="{{ site.facebook_url}}"><i class='fa fa-facebook-square fa-2x'></i></a>
			  <a href="{{ site.linkedin_url}}"><i class='fa fa-linkedin-square fa-2x'></i></a>
			  <a href="{{ site.github_url}}"><i class='fa fa-github-square fa-2x'></i></a>
			  <a href="{{ site.twitter_url}}"><i class='fa fa-twitter-square fa-2x'></i></a>
	  		</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <p class="text">
			My name is Yu Chen. I am a programmer, and I like cats.<br />
  		  	Email: <a href="mailto:yu@chen.news">yu@chen.news</a>
      </div>
    </div>

  </div>

</footer>
